body {
  font-family: sans-serif;
  padding: 20px;
  font-size: 15pt; 
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-left: 10px;
}
li.done span {
  color: gray;
  text-decoration: line-through;
}